body{
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: justify;
	background: url("/img/london_blue.jpg") no-repeat;
	background-size: cover;
	background-color: #010006;
}

footer div{
	text-align: center;
}

.container{
	background: #fff;
}

.p_left_img{
	width: 120px;
	margin-right: 10px;
}

.p_right_img{
	width: 120px;
	margin-left: 10px;
}

.logo_img{
	height: 32px;
	margin-right: 12px;
	margin-bottom: 6px;
	margin-top: 6px;
}

.footer_icon{
	height: 32px;
}